body {
}
nav li {
	display: inline;
	padding: 0 15px;
}
nav ul {
	text-align: right;
}
img {
	margin-top: 156px;
	margin-right: auto;
	margin-left: auto;
	height: 95px;
	display: block;

}
#search_bar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	width: 528px;
	padding: 5px 30px 6px 6px;
	border: 1px solid gray;
}
.submit_reset {
	width: 400px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}
#submit, #reset {
	height: 28px;
	padding: 0 10px;
	margin: 0 10px;
	font-size: 11px;
}